body {
    color: #fff;
}

#highscoreslist {
    list-style: none;
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    text-align: center;
}

#leaderboard {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

