@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background-color: #000;
    width: 100%;
    padding-top: 65px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

/* -----------------------Navbar */
/* Credits: Code for collapsed navbar from https://www.codeply.com/p/hVa3gv9Umw and edited to fit project needs*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
    z-index: 9999; 
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    text-decoration: none;
}

.logo:hover{
         color: #45A29E;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
     color: #45A29E !important; 
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* -----------------------Headings */
h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;

}
/* -----------------------Home Landing */
#home {
    background: url("../images/heroimage.png") no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    padding-top: 10%;
    padding-bottom: 10%;
}

@media only screen and (min-device-width: 320px){
    .display-1{
        padding-top: 8%;
    }
}

.landing-page h1 {
    font-size: 5em;
}

.landing-page h2{
    font-size: 3em;
}

@media only screen and (max-width: 375px) {
    #home {
        background: url("../images/heroimage-lowres.png") no-repeat center center fixed;
    }
}

/* -----------------------Footer */
.social-links li a i {
     width: 32px;
     height: 32px;
     padding: 12px 0;
     border-radius: 50%;
     font-size: 20px;
     line-height: 7px;
     text-align: center;
     color: #000;
     background: #fff;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}
 .social-links li a i:hover {
     background: #45A29E;
}

.copyright {
    font-size: 14px;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #000;
}

footer{
    padding-top: 3rem;
}

/* -----------------------About and Instructions */
.icon{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    width: 80px;
    height: 112px;
}

#about {
    padding-bottom: 1.5rem;
}

#instructions {
    padding-bottom: 1.5rem;
}

#play {
    padding-bottom: 3rem;
}

@media only screen and (min-width: 992px) {
    .lead{
        font-size: 2em;
    } 
}

.play-btn{
    display: block;
    width: 10rem;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid #45A29E;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);;
    border-radius: 4px;
    background: linear-gradient(90deg, #45A29E 0%, #45A29E 100%);
}

.play-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(134, 230, 225);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* -----------------------Contact */
#content{
    color: #000;
}
#content h1{
    color: #000;
}
.contact {
    margin-top: 1rem;
}
.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
    background: url('https://images.unsplash.com/photo-1470299568568-d4e15c4b6472?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80');
    background-size: cover;
	color: #fff;
}

.contact-in h1 {
	font-size: 3rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #fff;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.contact-in h2 i:hover {
    background: #45A29E;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-form h1 {
    font-size: 3rem;
    margin-top: 0.5em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;

}
.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
    cursor: pointer;
}

#map {
  height: 600px;
  width: 100%;
}

/* -----------------------Quiz */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin-top: 2rem;
    padding: 2rem;
    font-size: 62.5%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 1.8rem;
    padding: 2rem 0;
    width: 18rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    background: linear-gradient(90deg, #45A29E 0%, #45A29E 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(134, 230, 225);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* -----------------------End */
.end-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

@media only screen and (min-width: 320px) {
    #end {
    margin-top: 10rem;
    }
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

#savescorebtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: #000;
}
/* -----------------------Leaderboard */
#highscoreslist {
    list-style: none;
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    text-align: center;
}

#leaderboard {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}