@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background-color: #000;
    width: 100%;
    padding-top: 65px;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

/* -----------------------Header */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
    z-index: 9999; 
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    text-decoration: none;
}

.logo:hover{
         color: #45A29E;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
     color: #45A29E !important; 
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* -----------------------Headings */
h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;

}
/* -----------------------Home Landing */
#home {
    background: url("/assets/images/heroimage.png") no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    padding-top: 10%;
    padding-bottom: 10%;
}

@media only screen and (min-device-width: 320px){
    .display-1{
        padding-top: 8%;
    }
}
.landing-page h1 {
    font-size: 5em;
}

.landing-page h2{
    font-size: 3em;
}

/* -----------------------Footer */
.social-links li a i {
     width: 32px;
     height: 32px;
     padding: 12px 0;
     border-radius: 50%;
     font-size: 20px;
     line-height: 7px;
     text-align: center;
     color: #000;
     background: #fff;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}
 .social-links li a i:hover {
     background: #45A29E;
}

.copyright {
    font-size: 14px;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #000;
}

/* -----------------------Home Content */
.icon{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    width: 80px;
    height: 112px;
}

#about {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#instructions {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 992px) {
    .lead{
        font-size: 2em;
    } 
}

.play-btn{
    display: block;
    width: 10rem;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid #45A29E;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);;
    border-radius: 4px;
    background: linear-gradient(90deg, #45A29E 0%, #45A29E 100%);
}

.play-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(134, 230, 225);
    transition: transform 150ms;
    transform: scale(1.03);
}